<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="border-top"></div>
        </div>
        <div class="col-sm-4 col-lg-4">
          <ul class="footer-vertical-nav">
            <li class="menu-title"><a href="/">News</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/category?cat=world">World</a></li>
            <li><a href="/category?cat=business">Business</a></li>
            <li><a href="/category?cat=politics">Politics</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-lg-4">
          <ul class="footer-vertical-nav">
            <li class="menu-title"><a href="/category?cat=sports">World</a></li>
            <li><a href="/category?cat=fashion">Fashion</a></li>
            <li><a href="/category?cat=art">Art</a></li>
            <li><a href="/category?cat=real%20estate">Real estate</a></li>
            <li><a href="/category?cat=travel">Travel</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-lg-4">
          <ul class="footer-vertical-nav">
            <li class="menu-title"><a href="/about">More</a></li>
            <li><a href="/about">About me</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="d-flex justify-content-between">
            <img src="/assets/images/logo.svg" class="footer-logo" alt="" />

            <div class="d-flex justify-content-end footer-social">
              <p class="font-weight-medium">
                © 2020 <a href="https://www.bootstrapdash.com/" target="_blank" class="text-dark">@ BootstrapDash</a>, Inc.All Rights Reserved.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>