<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>World Vision</title>
    <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="/assets/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="/assets/vendors/aos/dist/aos.css/aos.css" />
    <link
      rel="stylesheet"
      href="/assets/vendors/owl.carousel/dist/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/vendors/owl.carousel/dist/assets/owl.theme.default.min.css"
    />
    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
    <!-- inject:css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- endinject -->
  </head>

  <body>
    <div class="container-scroller">
      <div class="main-panel">
        <header id="header">
          <div class="container">
            <!-- partial:partials/_navbar.html -->
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="d-flex justify-content-between align-items-center navbar-top">
                <div class="logo-div">
                  <a class="navbar-brand" href="/"
                    ><img src="/assets/images/logo.svg" alt=""
                  /></a>
                </div>
              </div>
              <div class="navbar-bottom-menu">
                <button
                  class="navbar-toggler"
                  type="button"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div
                  class="navbar-collapse justify-content-center collapse"
                  id="navbarSupportedContent"
                >
                  <ul
                    class="navbar-nav d-lg-flex justify-content-between align-items-center"
                  >
                    <li>
                      <button class="navbar-close">
                        <i class="mdi mdi-close"></i>
                      </button>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/category?cat=world">World</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="/author">Magazine</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/newspost">Blog</a>
                    </li> -->
                    <li class="nav-item">
                      <a class="nav-link" href="/category?cat=business">Business</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/category?cat=sports">Sports</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/category?cat=art">Art</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/category?cat=politics">Politics</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/category?cat=education">Education</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/category?cat=entertainment">Entertainment</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/category?cat=travel">Travel</a>
                    </li>
                    <li class="nav-item">
                      <i "></i>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>