<%- include('includes/header.ejs') %>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="error-wrap">
              <div class="error-title">
                404
              </div>
              <div class="error-sub-title">
                Oops! That Page Can’t Be Found.
              </div>
              <p>Maybe Try Using The Search Or Navigate To Homepage.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('includes/footer.ejs') %>
    <script src="../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../assets/vendors/aos/dist/aos.js/aos.js"></script>
    <script src="../assets/vendors/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../assets/js/demo.js"></script>
  </body>
</html>
