<%- include('includes/header.ejs') %>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="error-wrap">
              <div class="error-title">
                500
              </div>
              <div class="error-sub-title">
                Oops! Something Went Wrong.
              </div>
              <p>We are trying to fix the problem. Please try again later</p>

              <!-- <div class="search-container">
                <input type="text" placeholder="Search.." name="search" />
                <button type="submit"><i class="mdi mdi-magnify"></i></button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- container-scroller ends -->
    <!-- partial:../partials/_footer.html -->
    <%- include('includes/footer.ejs') %>

    <!-- partial -->
    <!-- inject:js -->
    <script src="../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="../assets/vendors/aos/dist/aos.js/aos.js"></script>
    <script src="../assets/vendors/owl.carousel/dist/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="../assets/js/demo.js"></script>
    <!-- End custom js for this page-->
  </body>
</html>
