<%- include('includes/header.ejs') %>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-center">
              <h1 class="text-center mt-5">
                About Me
              </h1>
              <p class="text-secondary fs-15 mb-5 pb-3">
                
              </p>
            </div>
          </div>
        </div>
        <div class="contact-wrap">
          <div class="row">
            <div class="col-lg-6 mb-2 mb-lg-2">
              <div class="row">
                <div class="col-sm-12  mb-2 mb-lg-2">
                  <h1>Who Am I?</h1>
                  <p class="mb-3">A NEW BACKEND DEVELOPER</p>
                  <p class="mb-4">
                    I am a fresh graduate who built this website for my portfolio. 
                    The Idea to build a news webiste came when I was reasearching 
                    webistes made in Node.js and this was one of them.
                  </p>
                  <p class="mb-4">
                    The front end templates for both site and portal are open source.
                    Template for this site was downloaded from
                    <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap Dash</a>.
                    World Vision was the original name that came with the template.
                    Template for the signup and login screen was downloaded from
                    <a href="https://colorlib.com" target="_blank">Color Lib</a>.
                    Template for the dashboard was downladed from 
                    <a href="https://www.creative-tim.com/product/material-dashboard" target="_blank">Creative Tim</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('includes/footer.ejs') %>
    <script src="../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../assets/vendors/aos/dist/aos.js/aos.js"></script>
    <script src="../assets/vendors/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../assets/js/demo.js"></script>
  </body>
</html>
