<%- include('includes/header.ejs') %>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-center">
              <h1 class="text-center mt-5">
                Get In Touch
              </h1>
              <p class="text-secondary fs-15 mb-5 pb-3">
                Use this information to contact me
              </p>
            </div>
          </div>
        </div>
        <div class="contact-wrap">
          <div class="row">
            <div class="col-lg-6 mb-2 mb-lg-2">
              <div class="contact-right-padding">
                <div class="row">
                  <div class="col-sm-12  mb-2 mb-lg-2">
                    <p class="mb-0 font-weight-bold fs-14">
                      GitHub
                    </p>
                    <a href="https://github.com/hades4511" target="_blank" class="contact-link">
                      <p class="mb-4 font-weight-medium fs-14">
                        hades4511
                      </p>
                    </a>
                    <p class="mb-0 font-weight-bold fs-14">
                      LinkedIn
                    </p>
                    <a href="https://www.linkedin.com/in/muhammad-usman-9205041ba/" target="_blank" class="contact-link">
                      <p class="mb-4 font-weight-medium fs-14">
                        Muhammad Usman
                      </p>
                    </a>
                    <p class="mb-0 font-weight-bold fs-14">
                      EMAIL
                    </p>
                    <p class="mb-4 font-weight-medium fs-14">
                      muhammadusman6242@gmail.com
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('includes/footer.ejs') %>
    <script src="../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../assets/vendors/aos/dist/aos.js/aos.js"></script>
    <script src="../assets/vendors/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../assets/js/demo.js"></script>
  </body>
</html>
